* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #002339;
  color: #fff;
}

.container {
  margin: 12%;
  width: 90%;
  max-width: 700px;
}

.container h1 {
  font-weight: 500px;
  font-size: 45px;
}

.container h1 span {
  color: #019f55;
  border-bottom: 4px solid #019f55;
  padding-bottom: 7px;
}

.display {
  margin: 50px 0 30px 0;
  width: 100%;
  background-color: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border-radius: 8px;
}

.display input {
  border: none;
  outline: none;
  font-size: 24px;
}

.display img {
  width: 24px;
  cursor: pointer;
}

.container button img {
  width: 28px;
  padding: 0 10px 0 0;
}

.container button {
  color: #fff;
  background-color: #019f55;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 16px 26px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
}
