* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

.yellow-bg {
    width: 100vw;
    height: 100vh;
    background-color: #F4D04E;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {

    background-color: #FFFFFF;
    width: 384px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    padding: 24px;
    box-shadow: 10px 10px;
    border: 1px solid black;

}


.card-description-layout {
    display: flex;
    flex-direction: column;
    gap: 12px;


}

.tag {
    background-color: #F4D04E;

    padding: 4px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 800;
    line-height: 150%;
    width: 6em;
    display: flex;
    justify-content: center;
    align-items: center;


}

.date {
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;


}

.card-heading {
    font-size: 24px;
    font-weight: 800;
    transition-duration: 150ms;
    tran
}

.card-heading:hover {
    color: #F4D04E;
    cursor: pointer;
}








.card-para {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #6B6B6B;
}

.profile-tag {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: start;

    font-size: 14px;
    font-weight: 900;
    line-height: 150%;

}